body{
    background-image: url('img/omedetou1.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    /* 背景画像指定 */
}

html {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn{
  border-radius: 5px;
  background-color: rgb(252, 151, 183); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav{
  position:absolute;
  text-align: center;
  top: 850px;
  left:290px;
  font-size: 18px;
  width:160px;
  height: 90px;
  z-index:10000;
}

div#omedetou{
  position:absolute;
  text-align: center;
  border-radius: 5px;
  top: 400px;
  left:120px;
  font-size: 30px;
  background: #eecae1;
  color: rgb(213, 43, 43);
  width:190px;
  height: 40px;
  z-index:10000;
}
/* nav li {
    display: inline-block;
    width: 50px;
  height: 50px;
  border-radius: 70%;
    box-sizing: border-box;
   font-size: 25px;
    width: 250px;
    margin: 50px 5px;
    color: aliceblue;
    background-color: rgb(252, 151, 183);
    border: double 5px black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  } */

