
body{
        background-image: url('img/story.png');
        background-repeat: no-repeat;
        max-width: 100%;
        height: auto;
    }

    html {
        animation-name: fadeInAnime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
      
      @keyframes fadeInAnime {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }


div#text_q{
    position:relative;
		top: 660px;
		left:60px;
    font-size: 17px;
    width:290px;
    height: 90px;
}

div#text_s{
    position:relative;
		top:570px;
		left:75px;
    font-size: 17px;
    width:286px;
    height: 100px;
}

#nextbutton{
  position:absolute;
  text-align: center;
  top: 850px;
  left: 310px;
  font-size: 17px;
  width: 90px;
  height: 50px;
  z-index: 10000;
  border-radius: 5px;
  background-color: rgb(252, 151, 183); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}