body{
    background-image: url('img/tyutoriaru2.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    /* 背景画像指定 */
}

html {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn{
  border-radius: 5px;
  background-color: rgb(252, 151, 183); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav{
  position:absolute;
  text-align: center;
  top: 850px;
  left:290px;
  font-size: 18px;
  width:160px;
  height: 90px;
  z-index:10000;
}

